/.py
/01_BAsic.py
/02_for loop.py
/03_dictionary.py
/04_addfun.py
/05_basic.py
/06_squre.py
/07_recursion.py
/08_fib.py
/basic.py
/count digit.py
/fact.py
/fibbonacci.py
/function1.py
/function5.py
/homefun.py
/inherit.py
/insertion.py
/insertionsort.py
/largest no.py
/largest.py
/maxfun.py
/mul.py
/oops.py
/pattern.py
/practice.py
/pymysql.py
/reverse.py
/selectionsort.py
/selectionsortingarray.py
/SORT.PY
/students details.py
/t.py
/test.py
/userdefinedlargest.py
/without using function.py